<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Hybrid HW-LSTM</title>
    <link rel="stylesheet" href="css/bulma.min.css">
    <link rel="stylesheet" href="css/custom.css">
    <script type="text/javascript" src="api.js"></script>
    <script type="text/javascript" src="constants/pse_blue_chips.js"></script>
    <script defer src="js/vendor/jquery.min.js"></script>
    <script defer src="js/vendor/fa_all.js"></script>
    <script defer src="js/vendor/vue@2.6.0.js"></script>
    <script type="text/javascript" src="js/utilities.js"></script>
    <script defer src="js/common.js"></script>
</head>

<body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item">
                HW-LSTM Simulator
            </a>
        </div>
    </nav>
    <div class="container" id="app_hw_lstm">
        <div class="section">
            <div class="columns">
                <div class="column">
                    Company
                    <p class="control has-icons-left">
                        <span class="select is-rounded">
                            <select v-model="selectedCompany" >
                                <option v-for="company in companies" v-bind:value="company">
                                    {{ company.securitySymbol }} - {{ company.securityName }}
                                </option>
                            </select>
                        </span>
                        <span class="icon is-small is-left">
                            <i class="fas fa-building"></i>
                        </span>
                    </p>
                </div>
                <div class="column">
                    <p>Start Date <input class="input is-rounded" type="date" v-model="startDate"></p>
                </div>
                <div class="column">
                    <p>End Date <input class="input is-rounded" type="date" v-model="endDate"></p>
                </div>
                <div class="column">
                    <br />
                    <button class="button is-rounded is-dark width-100" v-on:click="triggerSimulator"
                        :disabled="isSimulationRunning">
                        <span class="icon" v-if="isSimulationRunning">
                            <i class="fas fa-spinner-third fa-spin"></i>
                        </span>
                        <span>{{ placeholderSimulation }}</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column" v-if="hwData">
                <h3 class="bold">Holt-Winters</h3>
                <div>
                    <pre style="height: 38%">
                        {{ hwData.data }}
                    </pre>
                </div>
                <div>
                    <img v-bind:src="hwData.imgPath" alt="graph">
                </div>
            </div>

            <div class="column" v-if="lstmData">
                <h3 class="bold">LSTM</h3>
                <div>
                    <pre style="height: 38%">
                        {{ lstmData.data }}
                    </pre>
                </div>
                <div>
                    <img v-bind:src="lstmData.imgPath" alt="graph">
                </div>
            </div>

            <div class="column" v-if="hwlstmData">
                <h3 class="bold">Hybrid HW-LSTM</h3>
                <div>
                    <pre style="height: 38%">
                        {{ hwlstmData.data }}
                    </pre>
                </div>
                <div>
                    <img v-bind:src="hwlstmData.imgPath" alt="graph">
                </div>
            </div>
        </div>

        <div v-if="isSimulationRunning" class="loading-container">
            <!-- <img src="img/loader.gif" alt="graph"> -->
            <i class="fas fa-spinner-third fa-spin" style="font-size: 120px"></i>
        </div>
    </div>
</body>

</html>